@page "/reviewpage"
@inject NavigationManager Navigation
@inject UserDataService UserDataService
@using HealthCare.WebApp.Services
@using HealthCare.Core.Models
@using HealthCare.Core.Controllers;
@using Microsoft.AspNetCore.WebUtilities


<h3>Leave a review:</h3>
<form>
	<label>
		Enter your review: <input type="text" @bind="review" />
	</label>
	<p> Select rating: </p>
	<div class="review-stars">
		<label class="clickable">
			★
			<input type="radio" class="star" @onchange="@(() => rating = "1")" />
		</label>
		<label class="clickable">
			★
			<input type="radio" class="star" @onchange="@(() => rating = "2")" />
		</label>
		<label class="clickable">
			★
			<input type="radio" class="star" @onchange="@(() => rating = "3")" />
		</label>
		<label class="clickable">
			★
			<input type="radio" class="star" @onchange="@(() => rating = "4")" />
		</label>
		<label class="clickable">
			★
			<input type="radio" class="star" @onchange="@(() => rating = "5")" />
		</label>
	</div>
	<button type="submit" @onclick=SubmitReview disabled="@(!isRadioSelected)">Submit review</button>
</form>

@* @if (showErrorMessage)
{
	<p> Please select a star rating before submitting </p>
} *@

@code {
	public string patientId { get; set; }
	public string rating { get; set; }
	public string? review { get; set; }
	// public string? message { get; set; }
	// private bool showErrorMessage { get; set; } = false;
	private bool isRadioSelected => !string.IsNullOrEmpty(rating);

	public async Task SubmitReview()
	{
		int ratingInt = Convert.ToInt32(rating);
		// message = null;
		patientId = await UserDataService.GetUserIdAsync();

		var httpClient = new HttpClient(new HttpClientHandler());
		httpClient.BaseAddress = new Uri("https://localhost:7139/");
		var query = new Dictionary<string, string>()
			{
				["reviewtext"] = review ?? "",
				["rating"] = rating,
				["patientId"] = patientId
			};
		var uri = QueryHelpers.AddQueryString("/api/review", query!);
		var saveReviewResponse = await httpClient.PostAsync(uri, null);

		if (!saveReviewResponse.IsSuccessStatusCode)
		{
			Navigation.NavigateTo("/Error");
		}
		Navigation.NavigateTo("/patientpage");
	}
	// varför navigerar den inte till sidan?? testa rebuilda..?
	// lägg in nåt om reviews poå inloggningssidan
}
